@media screen and (max-width: 576px) {
  .header {
    > .navbar {
      padding: 2rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      > .links {
        position: relative;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        > .hamburger {
          display: block;
          background-color: transparent;
          color: #fff;
          border: none;
          font-size: 2.5rem;
        }
        > .homeLogo {
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          position: relative;
          text-decoration: none;
          > .square {
            position: absolute;
            height: 20px;
            width: 20px;
            border: 0.2rem solid #fff;
            position: absolute;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }
          > .logoSquare1 {
            left: 0;
          }
          > .logoSquare2 {
            left: 1.3em;
          }
        }
        > .navUl {
          z-index: 999999;
          position: absolute;
          top: 5rem;
          left: 0;
          display: none;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          height: 25vh;
          gap: 2rem;
          background-color: #000000;
          padding: 2rem 0;
          opacity: 0.9;
          transition: all 0.2s linear;
          border-radius: 0.5rem;
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;

          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          > li {
            width: 100%;
            text-align: center;
            > a {
              width: 100%;
              font-size: 1.5rem;
              letter-spacing: 0.1rem;
              color: #fff;
              font-family: "Ubuntu", serif;
            }
          }
        }
      }
      > .other {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0rem;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
        > .searchDiv {
          > form {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            > #searchBox {
              width: 12rem;
              background-color: transparent;
              border: 0.2rem solid #fff;
              border-radius: 2rem;
              -webkit-border-radius: 2rem;
              -moz-border-radius: 2rem;
              -ms-border-radius: 2rem;
              -o-border-radius: 2rem;
              padding: 0.5rem 2rem;
              font-family: "Ubuntu", serif;
              font-size: 1.5rem;
              color: #fff;
              outline: none;
              &:focus {
                outline-color: #cccccc;
                border: 0.35rem solid #cccccc;
              }
            }
            > #searchBtn {
              background: transparent;
              font-size: 2rem;
              border: none;
              color: #fff;
              transform: scaleX(1) rotate(10deg);
              -webkit-transform: scaleX(1) rotate(10deg);
              -moz-transform: scaleX(1) rotate(10deg);
              -ms-transform: scaleX(1) rotate(10deg);
              -o-transform: scaleX(1) rotate(10deg);
            }
          }
        }

        > #loginBtn {
          margin-left: 2rem;
          background: transparent;
          border: 0.2rem solid #fff;
          border-radius: 200px;
          -webkit-border-radius: 200px;
          -moz-border-radius: 200px;
          -ms-border-radius: 200px;
          -o-border-radius: 200px;
          padding: 0.4rem 1.5rem;
          > a {
            text-decoration: none;
            color: #fff;
            font-family: "Ubuntu", serif;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .landingPage {
      width: 100%;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      align-items: start;
      > .sliderMainContainer {
        margin: 3rem 0;
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        > .sliderContainer {
          position: relative;
          width: 100%;
          height: 90%;
          overflow: hidden;
          background: transparent;
          .slide::before {
            z-index: 99;
            content: "";
            position: absolute;
            width: 100%;
            height: 20rem;
            background-image: linear-gradient(
              to top,
              #ad00d085,
              #550053e1,
              #63004f87,
              #47003981,
              #16151800,
              #14141400
            );
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }
          .slide {
            > .slideText {
              z-index: 99;
              padding: 0 1.5rem 1rem;
              z-index: 9999;
              color: #fff;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
          .controlBtn {
            z-index: 99999;
            padding: 1.2rem 0.4rem;
            margin-top: -2.2rem;
            color: rgb(188, 188, 188);
            font-size: 2rem;
          }
        }
        > .sliderbtnContainer {
          > .sliderBtn {
            height: 0.7rem;
            width: 0.7rem;
            &:hover {
              background-color: #580056;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .saleSection::before {
    z-index: -9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right top,
      #201622,
      #1c161f,
      #19161c,
      #161518,
      #141414
    );
  }
  .saleSection {
    z-index: 9999;
    position: relative;
    top: 0;
    padding: 2rem 3rem;
    width: 100%;
    > .sectionContent {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 4rem;
      margin-top: 4rem;
      padding-bottom: 3rem;
      & .saleCard {
        position: relative;
        width: 40%;
        > .priceTag {
          background-color: transparent;
          font-size: 1.3rem;
          > .price {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            padding: 0.5rem;
          }
          > .off {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            padding: 0.5rem;
          }
        }
        > img {
          height: 18rem;
        }
        > .gameName {
          padding: 0.5rem 0.5rem;
          font-family: "Ubuntu", serif;
          font-size: 1.3rem;
          color: #fff;
          text-align: center;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  .gamesSection::before {
    z-index: -10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to left bottom,
      #201622,
      #1c161f,
      #19161c,
      #161518,
      #141414
    );
  }
  .gamesSection {
    padding: 4rem 3rem;
    .keywordsSection {
      gap: 1.3rem;
      > .keyword {
        color: #fff;
        border: 0.15rem solid #fff;
        padding: 0.5rem 2.2rem;
        font-size: 1.3rem;
      }
    }
    > .gamesContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 2rem;
      gap: 0.5rem;
      > .gameCard {
        width: 100%;
        > img {
          width: 20%;
          height: 5rem;
          border-top-left-radius: 0.3rem;
          border-bottom-left-radius: 0.3rem;
        }
        > .gameName {
          height: 5rem;
          min-width: 60%;
          padding: 0.7rem 1.2rem;
          color: #fff;
          font-family: "Inter", serif;
          font-size: 1.3rem;
        }
        > .price {
          text-decoration: none;
          border: 2px solid #fff;
          font-family: "Inter", serif;
          font-size: 1.3rem;
          padding: 0.5rem;
          min-width: 8rem;
        }
      }
    }
  }

  .footer {
    padding: 2rem 3rem 4rem;
    width: 100%;
    height: 12rem;
    background-color: #151515;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    & .copyrightText {
      font-family: "Inter", serif;
      color: #fff;
      font-size: 1.3rem;
    }
    & .footerLinks {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: right;
      gap: 1rem;
      > li {
        list-style: none;
        > a {
          text-align: right;
          text-decoration: none;
          font-size: 1.3rem;
          text-transform: uppercase;
          letter-spacing: 0rem;
          color: #fff;
        }
      }
    }
  }

  .sectionHeading {
    background-image: linear-gradient(
      to right,
      #bd00e385,
      #ad00d054,
      #7a00784a,
      #63004f3f,
      #63004f00,
      #14141400
    );
    font-weight: 400;
    width: 40rem;
    min-width: 80%;
    font-size: 1.8rem;
    padding: 0.8rem 1rem;
  }
  .store {
    width: 100%;
    padding: 4rem 3rem !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5rem;
    > .storeHeader {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start !important;
      gap: 3rem;
      > .storeHeading {
        color: #fff;
        font-size: 3rem !important;
        width: 100% !important;
        line-height: 3rem !important;
      }
      > .seeAllBtn {
        padding: 0.6rem 1.3rem !important;
        border: none;
        font-size: 1.4rem !important;
        font-family: "ubuntu", serif;
        color: #fff;
        border-radius: 0.3rem !important;
        -webkit-border-radius: 0.3rem !important;
        -moz-border-radius: 0.3rem !important;
        -ms-border-radius: 0.3rem !important;
        -o-border-radius: 0.3rem !important;
      }
    }
    .storeMainContent {
      display: flex;
      justify-content: center !important;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 8rem;
      gap: 4rem;
      > .characterCard {
        width: 90% !important;
        gap: 1rem !important;
        > img {
          height: 23rem !important;
        }
        > .characterDetails {
          width: 100%;
          > .skinName {
            font-family: "Kanit", serif;
            color: #fff;
            font-weight: 500;
            font-size: 1.8rem !important;
          }
          .characterName {
            font-family: "Ubuntu", serif;
            color: #7b7b7b;
            font-size: 1.2rem !important;
          }
        }
        > .purchaseOption {
          margin-top: 1rem !important;
          height: 3rem !important;
          border-radius: 0.2rem !important;
          -webkit-border-radius: 0.2rem !important;
          -moz-border-radius: 0.2rem !important;
          -ms-border-radius: 0.2rem !important;
          -o-border-radius: 0.2rem !important;
          > .buyBtn {
            font-size: 1.3rem !important;
            border-right: none !important;
            border-radius: 0.6rem !important;
            -webkit-border-radius: 0.6rem !important;
            -moz-border-radius: 0.6rem !important;
            -ms-border-radius: 0.6rem !important;
            -o-border-radius: 0.6rem !important;
          }
          > .previewText {
            font-size: 1.3rem !important;
            border-radius: 0.6rem !important;
            -webkit-border-radius: 0.6rem !important;
            -moz-border-radius: 0.6rem !important;
            -ms-border-radius: 0.6rem !important;
            -o-border-radius: 0.6rem !important;
          }
        }
      }
    }
  }
}
